<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Graigslist</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="mail-icon">
            <i class="fa-solid fa-envelope fa-xl"></i> -->
          </li>
          <!-- if not user, show these -->
          <!-- if(!user) {%> add braces on top and bottom when needed-->
          <li>
            <a class="btn btn-outline-success btn-login" href="/login/1">Login</a>
          </li>
          <li>
            <a class="btn btn-outline-danger btn-register" href="/login/1">Register</a>
          </li>
          <!-- } %> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
