<section class="product-container">
  <div class ="product-image">image</div>
  <div class ="product-bar">
    <div class ="product-name">Product Name</div>
    <div class ="product-icons">
      <i class="fa-solid fa-pen-to-square" title="Mark as Sold"></i>
      <i class="fa-solid fa-trash-can" title="delete"></i>
    </div>
  </div>
  <div class ="product-description">Please add some text to me!</div>
</section>
