<section class="product-container">
  <div class ="product-image">image</div>
  <div class ="product-bar">
    <div class ="user-product">Product Name</div>
  </div>
  <div class ="product-description">Please add some text to me!</div>
</section>
