// All CSS in this file are used for both header partials
$main-color: #f4f4f3;
$border-color: #b4b4b4;

header {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  border-bottom: solid $border-color 1px;
}

nav {
  background-color: $main-color;
}

.me-2 {
  width: 37vw;
  border-radius: 30px;
}

.btn {
  border-radius: 30px;
}

.navbar-collapse {
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: flex-end;
}

.btn-login {
  margin-right: 10px;
}

.btn-logout {
  margin-left: 10px;
}

.nav-envelope {
  margin-right: 10px;
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-link {
  color: black;
  text-decoration: none;
}

.header-link:hover {
  color: black;
  cursor: pointer
}


// font-family: 'Bungee', cursive;
// font-family: 'Oxygen', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Ubuntu', sans-serif;
