.header-bar {
  border-bottom: solid black 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 30px;
}

#dropdownMenuButton {
  color: black;
  background-color: #f4f4f3;
}

.dropdown-menu {
  padding: 0;
  border: none;
}


