.header-bar {
  border-bottom: solid black 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 30px;
}

#dropdownMenuButton {
  color: black;
  background-color: #f4f4f3;
}

.divider {
  height: 70px;
}



