body {
  font-family: 'Ubuntu', sans-serif;
}

.lrg-banner {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

.category-container {
  background-color: #f4f4f3;
  border-top: solid #b4b4b4 1px;
  border-bottom: solid #b4b4b4 1px;
}

.category-bar {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cat-items:hover {
  transition: .3s;
  color: #7c7b7b;
  cursor: pointer
}

.featured-items {
  margin-top: 1em;
  margin-bottom: .5em;
  border-bottom: solid black 5px;
}

