$link-gray: #5f5f5f;
$main-color: #f4f4f3;
$border-color: #b4b4b4;

body {
  font-family: 'Ubuntu', sans-serif;
}

.lrg-banner {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

.category-container {
  background-color: $main-color;
  border-top: solid $border-color 1px;
  border-bottom: solid $border-color 1px;
}

.category-bar {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cat-link {
  text-decoration: none;
  color:$link-gray;
}

.cat-link:hover {
  transition: .3s;
  color: black;
  cursor: pointer
}

.featured-items {
  margin-top: 1em;
  margin-bottom: .5em;
  border-bottom: solid black 5px;
}

