.feature-container {
  display: flex;
  justify-content: space-between;
  height: 350px;
  margin-bottom: 15px;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black;
  border-radius: 10px;
  width: 23%;
  height: 400px;
  background-color: #f4f4f3;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-radius: 10px;
  width: 90%;
  height: 180px;
  margin-top: 12px;
  background-color: white;
}

.product-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 30px;
  margin-top: 12px;
}

.product-name {
  border: solid black;
  font-weight: bold;
  width: 73%;
  height: 100%;
  font-size: smaller;
  background-color: white;
}

.product-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid black;
  height: 100%;
  width: 25%;
  background-color: white;
}

.fa-solid {
  color: rgb(180, 180, 180);
  transition: .2s;
  cursor: pointer;
}

.fa-heart:hover {
  color: red;
}

.fa-envelope:hover {
  color: rgb(0, 0, 165);
}

.product-description {
  border: solid black;
  width: 90%;
  margin-top: 12px;
  height: 130px;
  font-size: 15px;
  background-color: white;
}

// Individual Product Listing Style

.main-prod-container {
  display: flex;
  flex-direction: row;
}

.lrg-prod-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 5px;
  border-radius: 10px;
  width: 40%;
  height: 600px;
  margin-top: 2em;
}

.lrg-prod-desc-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: solid black 5px;
  border-radius: 10px;
  width: 40%;
  height: 300px;
  margin-top: 2em;
  margin-left: 2em;
}

.lrg-prod-name {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: large;
  height: 20%;
  margin-left: 10px;
}

.lrg-prod-desc {
  display: flex;
  height: 60%;
  border-bottom: solid black 5px;
  border-top: solid black 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.like-offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}

.make-offer-btn {
  margin-right: 10px;
}

.prod-heart {
  margin-left: 10px;;
}




