.feature-container {
  height: auto;
  flex-wrap: wrap;
  --gap: 2%;
  display: inline-flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

.feature-container > * {
  margin: var(--gap) 0 0 var(--gap);
}


.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black;
  border-radius: 10px;
  width: 23%;
  height: 465px;
  background-color: #f4f4f3;
  margin-bottom: 1em;
  margin-top: 0;
  // margin-right: 2%;
}

.product-image {
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  width: 90%;
  height: 180px;
  margin-top: 12px;
}

.result-image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border: none;
}

.product-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 95px;
  margin-top: 12px;
}

.product-name {
  display: flex;
  align-items: center;
  border: solid black;
  font-weight: bold;
  width: 73%;
  height: 100%;
  font-size: 14px;
  background-color: white;
  overflow: auto;
}

.price-logo-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid black;
  width: 25%;
}

.product-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.prod-price {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-bottom: solid black;
  background-color: white;
}

.prod-price-sold {
  color: rgb(255, 56, 56);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-bottom: solid black;
  background-color: white;
}

@keyframes pulsate {
  50% {
    stroke-width: 5px;
  }
}

.fa-solid {
  color: rgb(180, 180, 180);
  transition: 0.2s;
  cursor: pointer;
}

.fa-heart:hover {
  color: red;
}

.fa-envelope:hover {
  color: rgb(0, 0, 165);
}

.fa-user:hover {
  color: rgb(0, 140, 165);
}

.fa-circle-plus:hover {
  color: rgb(0, 165, 3);
}

.fa-right-from-bracket:hover {
  color: rgb(165, 0, 3);
}

.right-nav i {
  padding-right: 20px;
}

.product-description {
  border: solid black;
  width: 90%;
  margin-top: 12px;
  height: 130px;
  font-size: 15px;
  background-color: white;
  overflow: auto;
}

// Individual Product Listing Style

.main-prod-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lrg-prod-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 40%;
  height: 600px;
  margin-top: 2em;
}

.lrg-img {
  border: solid black 5px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.lrg-prod-desc-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: solid black 5px;
  border-radius: 10px;
  width: 40%;
  height: auto;
  margin-top: 2em;
  margin-left: 2em;
}

.lrg-prod-name {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: large;
  height: 20%;
  margin-left: 10px;
}

.lrg-prod-desc {
  display: flex;
  height: 60%;
  border-bottom: solid black 5px;
  border-top: solid black 5px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}

.lrg-prod-price {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: 10px;
}

.like-offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}

.make-offer-btn {
  margin-right: 10px;
}

.prod-heart {
  margin-left: 14px;
  margin-top: 14px;
}

.lrg-sold {
  color: rgb(255, 56, 56);
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin-right: 10px;
}

.fa-heart.true {
  color: red!important;
}

